extend layout
block content
  p
    | Collective Nouns is the Android Application 
    | that allows you to learn and test yourself 
    | on your knowledge of collective nouns.
  p
    | Collective nouns are names given to a group 
    | of certain objects, people or animals. The 
    | derivations are varied as well as their popularity in usages.
    .pure-g-r
      .pure-u-1-2
        .aramade-image
          img(src='src/img/armada2.jpg')
  p
    li  "A bevy of ladies"
    li  "A troupe of acrobats"
    li  "A pint of Irishmen"

  p
    | These nuggets of literary genius make fantastic additions to your English vocabulary.
  p
    | Immerse yourself in the fascinating world of collective nouns

block sidebar
  .widget
    h1 Get the app
    p
      | Download for 
      a(href="https://play.google.com/store/apps/details?id=com.collectivenouns") Android 
      | today