extend layout
block content
  p
    | Collective Nouns is the Android Application 
    | that allows you to learn and test yourself 
    | on your knowledge of collective nouns.
  p
    | Collective nouns are names given to a group 
    | of certain objects, people or animals. The 
    | derivations are varied as well as their popularity in usage.
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.